<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>61950924624-4vpsss79k25be9bkmfl9f95qhe7hduvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61950924624-4vpsss79k25be9bkmfl9f95qhe7hduvn</string>
	<key>API_KEY</key>
	<string>AIzaSyDOyQ7wsd6r1s_aLmwPm5j8SL0F5gVooD0</string>
	<key>GCM_SENDER_ID</key>
	<string>61950924624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vevekselvam.Ascent</string>
	<key>PROJECT_ID</key>
	<string>ascent-b6896</string>
	<key>STORAGE_BUCKET</key>
	<string>ascent-b6896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:61950924624:ios:6921f08bccf098e7</string>
	<key>DATABASE_URL</key>
	<string>https://ascent-b6896.firebaseio.com</string>
</dict>
</plist>